body {
  margin: 0;
}

.game-image {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.context-menu {
  background-color: red;
  position: absolute;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
